// Row posters container styling
.row__posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px;
	scrollbar-width: none; // For Firefox
	-ms-overflow-style: none; // For Internet Explorer and Edge
}

// Hide scrollbar for row posters
.row__posters::-webkit-scrollbar {
	display: none;
}

// Individual poster styling
.row__poster {
	width: 100%;
	object-fit: contain;
	max-height: 150px;
	transition: transform 450ms;
	margin-right: 10px;
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background: linear-gradient(145deg, #1e1e1e, #2a2a2a);
	animation: fadeIn 0.5s ease-in-out, pulse 2s;
}

// Poster hover effect
.row__poster:hover {
	transform: scale(1.08) rotate(2deg);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
	filter: brightness(1.2);
}

// Large poster styling
.row__posterLarge {
	max-height: 250px;
	background: linear-gradient(145deg, #1e1e1e, #2a2a2a);
	:hover {
		transform: scale(1.09) rotate(2deg);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
		filter: brightness(1.2);
	}
}

// Row container styling
.row {
	color: rgb(210, 210, 210);
	font-family: 'Helvetica Neue', sans-serif;
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.2)
	);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	animation: slideIn 1s ease-out;
}

// Animations
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
